/* 전체 컨테이너 */
#editPassword_container {
  min-height: 95vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
/* 실제 컨텐츠 영역 */
#editPassword_contents {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 입력창 라벨 */
.editPassword_inputLabel {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
/* 입력창 */
.editPassword_input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 15px;
}
/* 비밀번호 변경 버튼 */
#editPassword_Btn {
  font-size: 20px;
  padding: 8px 15px;
  border-width: 0px;
  margin-top: 20px;
}
