/* 전체 컨테이너 */
#editInstructor_container {
  min-height: 95vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 화면 header title */
#editInstructor_header {
  font-size: 40px;
  margin-bottom: 50px;
}
/* 입력 영역 */
#editInstructor_inputSection {
  margin: auto auto;
}
/* 각 입력창 div */
.editInstructor_eachInputSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 입력창 라벨 */
.editInstructor_inputLabel {
  display: inline;
  font-size: 16px;
  margin-bottom: 5px;
}
/* 입력창 */
.editInstructor_input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  margin-left: 30px;
  margin-bottom: 15px;
}
/* 장르 선택 checkbox */
#editInstructor_checkboxDiv {
  width: 300px;
  display: flex;
}
.editInstructor_eachCheckbox {
  margin-right: 20px;
  cursor: pointer;
}

/* 버튼 영역 */
#editInstructor_buttonDiv {
  margin-top: 40px;
}
/* 완료, 취소 버튼 */
.editInstructor_eachBtn {
  font-size: 16px;
  padding: 8px 12px;
  border-width: 0px;
  margin-right: 20px;
}
